{% for item in site.navigation_secondary %}
    {% set current_page = (item.active or item.activeChild) ? 'selected' : '' %}
    <a href="{{ item.url }}" class="btn btn-link {{ current_page }}">{{ item.menu }}</a>
{% endfor %}
