#page-sidebar #page-utils {
    padding: .4rem 0;
}#page-sidebar #page-utils .navbar {
    background: #eee;
    float:right;
}
#page-header {
    /* background: #F9FADD; */
}
.header-navbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 6rem;
    padding: 0 0.4rem 0 0;
    text-align: right;
}
.header-navbar section {

}
.header-navbar .header-brand {
    padding-left:1rem;
}
.brand-logo {
    /* width: 340px; */
    display: inherit;
}
.brand-claim {
    color:#333;
    font-style: italic;
}

.home #header {

}
.navbar-logo {

}
#pre-header, #header, .hero-home {
    /* background:#AEDDE5; #FFD074 #F7E5BD #FBFDF2 #EBECE7 #332F29 #F9FADD #F2F8EA #AEDDE5 #E3E7B1 #ECEFA9 #F4EDF6 #D8E2EC #EDF9FF #E1FAFC #FFE7C1 #EBE1E2 #EBECE7 */
}
#pre-header {
    /* background:#AEDDE5; AEDDE5 F4EDF6 */
}
#content {

}
.footer-top {
    background: #000;
    height: 200px;
}
.footer-bottom {
    background: #000;
    height: 2rem;
}
.hero-home {
    /* margin: 0 -2rem; */
    color: #000;
}
.hero h1 {
    font-weight: bolder;
    font-size: 4rem;
    word-spacing: 1.525rem;
}
.highlight-leaderboard {
    /* margin-bottom: .8rem; */
}
.highlight-leaderboard,
.highlight-rectangle {
    height: 300px;
    background: #eee;
}
.highlight-skyscraper {
    height: 615px;
    background: #eee;
}
.ruler {
    /* margin: 0 -2rem; */
    line-height: 1rem;
    /* background: linear-gradient(135deg, #425fff 0, #f8549e 60%, #fe6652 100%); */
}
.engagement {
    /* background: #f7f8f9; */
}
#page-ads {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 6rem;
}
