/* php -S localhost:8000 system/router.php */

#preheader {
    color: #d1d1d1;
    border-bottom: 1px solid #f2f2f2;
}
#preheader .push-message sup {
    text-transform: lowercase;
    font-variant:small-caps;
}
#preheader .utils-menu .btn {
    color: #d1d1d1;
}
#preheader .utils-menu .btn.lang {
    padding-right: 0;
    text-transform: uppercase;
}
#preheader .utils-menu .btn.lang:last-child {
    padding-left: 0;
}
#preheader .utils-menu .btn.lang.active {
    text-decoration: underline;
}


/* HEADER MAIN */
.header-main .navbar {
    display: inherit;
    border-bottom: 4px solid #000;
}
.header-main .navbar .navbar-section {
    justify-content: center;
}
.header-main #header-brand {
    margin: 4rem 0 3rem 0;
}
.header-main #header-brand .navbar-logo {
    width:480px;
}
.header-main .navbar .navbar-section:not(:first-child):last-child {
    justify-content: left;
}
.header-main #header-menu {
    margin: 0 0 .6rem 0;
}
.header-main #header-menu .site-menu .btn {
    margin: 0 .8rem;
}
.header-main #header-menu .site-search {
    margin: 0 1.2rem;
    width: 44%;
}

/* HEADER MIN */
.header-min {
    position: -webkit-sticky;
    position: sticky;
    top: 0;

    padding: .8rem 0;
    background: #fff;
}
.header-min .navbar .navbar-section {
    /* flex:inherit; */
}
.header-min .navbar .navbar-section:not(:first-child):last-child {
    /* justify-content: left; */
}
.header-min #header-brand .navbar-logo {
    vertical-align: text-top;
    width:320px;
}
.header-min #header-menu {
    flex: 2 1 0;
}
.header-min #header-menu .site-menu .btn {
    margin: 0 .8rem;
}
.header-min #header-menu .site-search {
    margin: 0 0 0 1.2rem;
    width: 36%;
}

/* MAIN NAV */
#header-menu .btn {
    color:#000;
    font-size: 1rem;
    font-weight: 900;
    text-transform: uppercase;
}
#header-menu .btn:hover {
    text-decoration: underline;
}
#header-menu .site-search form,
#header-menu .site-search .input-inline,
#header-menu .site-search .search-input {
    width: 100%;
}
#header-menu .site-search .search-input {
    border-color: #f2f2f2;
    color: #000;
}
#header-menu .site-search .input-inline .input-group-btn.btn.btn-primary {
    background:#fff;
    border-color: #f2f2f2;
    color:#000;
}
#header-menu .site-search .search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  font-weight: 500;
  opacity: 1; /* Firefox */
}
#header-menu .site-search .search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}
#header-menu .site-search .search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}


/* FOOTER-TOP */
#footer section {
    padding: .8rem;
}
.footer-top {
    color:#f2f2f2;
    background-color: #111;
}
.footer-bottom {
    color:#f2f2f2;
}
.footer-bottom .dedication {
    margin: 0;
    text-align: center;
}
