<ul class="related-pages">
    {% if page.url|contains('/quotes/') %}
        {% set current_post_type = 'quote' %}
    {% else %}
        {% set current_post_type = 'post' %}
    {% endif %}
    {% for related_path, score in related_pages %}
        {% set related = grav['pages'].get(related_path) %}
        {% if related %}
            {% for post_type in related.taxonomy.post_type if post_type == current_post_type %}
                <li>
                    {% if config.plugins.relatedpages.show_score %}
                        <span class="score">{{ score }}</span>
                    {% endif %}
                    <a href="{{ related.url }}" title="{{ related.title }}">{{ related.title }}</a>
                </li>
            {% endfor %}
        {% endif %}
    {% endfor %}
</ul>
