<section class="toprated container column col-12">
    <div class="container grid-xl">
        <div class="divider text-center mt-2" data-content="BLOG"></div>
        <div class="columns mt-2">
            <div class="column col-12 text-center mt-2">
                <h2>Insights</h2>
            </div>
            <div class="column col-3 mt-2">
                <div class="card mt-2">
                    <div class="card-image">
                        <img src="https://picsum.photos/366/200" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Vivamus dapibus varius dui</div>
                        <div class="card-subtitle text-gray">Quis pharetra dolor condimentum non</div>
                    </div>
                    <div class="card-body">
                        Integer ultrices et ante id dapibus. Sed finibus odio tempus dignissim lacinia.
                        Praesent ullamcorper porttitor gravida. Donec laoreet arcu quis erat faucibus malesuada.
                    </div>
                </div>
            </div>
            <div class="column col-3 mt-2">
                <div class="card mt-2">
                    <div class="card-image">
                        <img src="https://picsum.photos/366/200" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Vivamus dapibus varius dui</div>
                        <div class="card-subtitle text-gray">Quis pharetra dolor condimentum non</div>
                    </div>
                    <div class="card-body">
                        Integer ultrices et ante id dapibus. Sed finibus odio tempus dignissim lacinia.
                        Praesent ullamcorper porttitor gravida. Donec laoreet arcu quis erat faucibus malesuada.
                    </div>
                </div>
            </div>
            <div class="column col-3 mt-2">
                <div class="card mt-2">
                    <div class="card-image">
                        <img src="https://picsum.photos/366/200" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Vivamus dapibus varius dui</div>
                        <div class="card-subtitle text-gray">Quis pharetra dolor condimentum non</div>
                    </div>
                    <div class="card-body">
                        Integer ultrices et ante id dapibus. Sed finibus odio tempus dignissim lacinia.
                        Praesent ullamcorper porttitor gravida. Donec laoreet arcu quis erat faucibus malesuada.
                    </div>
                </div>
            </div>
            <div class="column col-3 mt-2">
                <div class="card mt-2">
                    <div class="card-image">
                        <img src="https://picsum.photos/366/200" class="img-responsive">
                    </div>
                    <div class="card-header">
                        <div class="card-title h5">Vivamus dapibus varius dui</div>
                        <div class="card-subtitle text-gray">Quis pharetra dolor condimentum non</div>
                    </div>
                    <div class="card-body">
                        Integer ultrices et ante id dapibus. Sed finibus odio tempus dignissim lacinia.
                        Praesent ullamcorper porttitor gravida. Donec laoreet arcu quis erat faucibus malesuada.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
