<section class="engagement">
    <div class="container grid-xl">
        <div class="columns mt-2">
            <div class="column p-2 mt-2 text-center">
                <h3>Let's subscribe!</h3>
                <div class="input-group mt-2">
                    <input type="text" class="form-input" placeholder="First name">
                    <input type="text" class="form-input" placeholder="Last name">
                </div>
                <div class="input-group mt-2">
                    <input type="text" class="form-input" placeholder="Email">
                    <button class="btn btn-primary input-group-btn">Let's do it now!</button>
                </div>
            </div>
        </div>
    </div>
</section>
