<section class="engagement container column col-12">
    <div class="container grid-xl">
        <div class="columns mt-2">
            <div class="column p-2 mt-2 text-center">
                <h3>Let's subscribe!</h3>
                <div class="input-group mt-2">
                    <input type="text" class="form-input" placeholder="First name">
                    <input type="text" class="form-input" placeholder="Last name">
                </div>
                <div class="input-group mt-2">
                    <input type="text" class="form-input" placeholder="Email">
                    <button class="btn btn-primary input-group-btn">Let's do it now!</button>
                </div>
            </div>
            <div class="divider-vert" data-content="AND"></div>
            <div class="column p-2 mt-2 text-center">
                <h3>Let's feed!</h3>
                <a href="{{ page.url(true, true) }}.rss" class="btn btn-lg btn-primary">RSS</a>
                <a href="{{ page.url(true, true) }}.atom" class="btn btn-lg btn-primary">Atom</a>
            </div>
        </div>
    </div>
</section>
