<div class="columns mt-2">
    <div class="column col-12">
        <div class="hero bg-gray">
            <div class="hero-body">
                <h1>{{ content|raw }}</h1>
            </div>
        </div>
    </div>
</div>
