<section class="hero-home">
    <div class="container grid-xl">
        <div class="columns">
            <div class="column col-12">
                <div class="hero">
                    <div class="hero-body text-uppercase text-center">
                        <h1><mark>{{ content|raw }}</mark></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
