<section class="container hero">
    <div class="columns">
        <div class="column col-sm-12 col-md-6 col-lg-6 col-6">
            <figure class="figure">
                <img class="img-responsive" src="{{ url("theme://images/hero-walk-of-shame-tony-hawk.jpg") }}" alt="Tony Hawk">
            </figure>
        </div>
        <div class="column col-sm-12 col-md-6 col-lg-6 col-6">
            <blockquote class="hero-quote">
                <p>&ldquo;I won't quit skating until I am physically unable.&rdquo;</p>
                <cite>&ndash; Tony Hawk</cite>
            </blockquote>
        </div>
    </div>
</section>
