<section class="highlights container column col-12">
    <div class="container grid-xl">
        <div class="columns">
            <div class="column col-sm-12 col-md-12 col-lg-8 col-8">
                <div class="columns mt-2">
                    <div class="column mt-2 col-12">
                        <div class="highlight-leaderboard">
                            FOO
                        </div>
                    </div>
                </div>
                <div class="columns mt-2">
                    <div class="column mt-2 col-6">
                        <div class="highlight-rectangle">
                            FOO
                        </div>
                    </div>
                    <div class="column mt-2 col-6">
                        <div class="highlight-rectangle">
                            FOO
                        </div>
                    </div>
                </div>
            </div>
            <div class="column mt-2 col-sm-12 col-md-12 col-lg-8 col-4">
                <div class="highlight-skyscraper mt-2">
                    FOO
                </div>
            </div>
        </div>
    </div>
</section>
