<div class="columns mt-2">
    <div class="column col-sm-12 col-md-12 col-lg-8 col-8">
        <div class="columns">
            <div class="column col-12">
                <div class="highlight-leaderboard">
                    FOO
                </div>
            </div>
            <div class="column col-6 mt-2">
                <div class="highlight-rectangle mt-2">
                    FOO
                </div>
            </div>
            <div class="column col-6 mt-2">
                <div class="highlight-rectangle mt-2">
                    FOO
                </div>
            </div>
        </div>
    </div>
    <div class="column col-sm-12 col-md-12 col-lg-8 col-4">
        <div class="highlight-skyscraper">
            FOO
        </div>
    </div>
</div>
