<section class="highlights container column col-12">
    <div class="columns">
        <div class="column col-sm-12 col-md-12 col-lg-8 col-8">
            <div class="columns mt-2">
                <div class="column mt-2 col-12">
                    <div class="highlight highlight-leaderboard">

                    </div>
                </div>
            </div>
            <div class="columns mt-2">
                <div class="column mt-2 col-sm-12 col-md-6 col-lg-6 col-6">
                    <div class="highlight highlight-rectangle highlight-rectangle-1">


                    </div>
                </div>
                <div class="column mt-2 col-sm-12 col-md-6 col-lg-6 col-6">
                    <div class="highlight highlight-rectangle highlight-rectangle-2">


                    </div>
                </div>
            </div>
        </div>
        <div class="column mt-2 col-sm-12 col-md-12 col-lg-8 col-4">
            <div class="highlight highlight-skyscraper mt-2">


            </div>
        </div>
    </div>
</section>
