<section class="intro">
    <div class="container grid-xl">
        <div class="columns mt-2">
            <div class="column col-12 text-center mt-2">
                <h2>{{ page.title }}</h2>
                {{ content|raw }}
                <button class="btn btn-lg">More about</button>
            </div>
        </div>
    </div>
</section>
