<section class="toprated container column col-12">
    <div class="container grid-xl">
        <div class="divider text-center mt-2" data-content="QUOTES"></div>
        <div class="columns mt-2">
            <div class="column col-12 text-center mt-2">
                <h2>Top rated</h2>
            </div>
            <div class="column col-4 mt-2">
                <h3>Latest quotes</h3>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="column col-4 mt-2">
                <h3>Most read</h3>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tile tile-centered mt-2">
                    <div class="tile-icon">
                        <figure class="avatar avatar-lg" data-initial="YZ" style="background-color: #5755d9;">
                            <img src="img/avatar-1.png" alt="">
                        </figure>
                    </div>
                    <div class="tile-content">
                        <div class="tile-title">Suspendisse commodo odio in libero pellentesque commodo.</div>
                        <small class="tile-subtitle text-gray">1 Jan, 2017</small>
                    </div>
                    <div class="tile-action">
                        <button class="btn btn-action s-circle"><i class="icon icon-arrow-right"></i></button>
                    </div>
                </div>
            </div>
            <div class="column col-4 mt-2">
                <h3>Best topics</h3>
                {% include 'partials/blog/taxonomylist.html.twig' with {taxonomy: 'tag'} %}
                {% include 'partials/blog/taxonomylist.html.twig' with {taxonomy: 'category'} %}
            </div>
        </div>
    </div>
</section>
